
/* Styles for screens smaller than 600px (phones) */
@media only screen and (max-width: 600px) {
  .container {
    max-width: 100%;
    height: auto;
    top: 5%; /
  .forecast-item {
    width: 100%; 
    margin-right: 0; 
    margin-bottom: 10px; 
  }
}

/* Styles for screens between 601px and 1024px (tablets) */
@media only screen and (min-width: 601px) and (max-width: 1024px) {
  .container {
    max-width: 90%;
    height: auto;
    top: 5%; 
  }
}

/* Styles for screens larger than 1024px (desktops) */
@media only screen and (min-width: 1025px) {
  .container {
    max-width: 700px;
    height: 700px;
    top: 10%; 
  }
}
